<!doctype html>
<head>
    <meta charset='utf-8'/>
    <script src="jquery-2.0.0.min.js"></script>
    <script src="coffee-script.js"></script>
    <script src='jumly.min.js'></script>
    <script src="jquery-ui.min.js"></script>
</head>
<body>
    <script type='text/jumly+sequence'>
        @found "Someone", -> @message "1. get", "JUMLY"
        @found "JUMLY", -> @message "2. oks", "Someone"
        @found "What", -> @message "3. hej!", "Member1"
        @found "What", -> @message "4. hej!", "Member1"
        @found "Someone", -> @message "5. lolzxczxc", "What"
        @found "Member1", -> @message "hej", "Someone"
    </script>

    <script type='text/javascript'>
        var messageContents = [
            "asmdlamsmdlmakmsdlasmd",
            "a,msldmlkamlskd lalsdml amlsmldamlksm dklamslmdlmalsmdk amls",
            "really alsdalks dlalsld alslda sldlasldald as dla s\n la lk alk sdlk als dlalsdlalksdas\n m la sd al sd la sd lals dla\nmlkamklsmdlmalsmdkaklsdmlmaldslas\nmlkamlsdlkmaslkdmlamskldm lkamlsdm lkamsldm lkamlskdm alsmkldmaklsm kldmaksm \nla sld mlkamslkdml akmslkdml akmsldm lamsld lamsldmla msdlkmalskmdlka slnfnakjngkjna knfkjaks \n asd ask dnkajnsdkjn aksndkjnaskj ndkjanskd nakjsndk naks\nla kjans knaskj ndkjaskjd ka skdj akjsdkj"
        ];
    </script>

    <script type='text/javascript'>

        function clearOccurrences()
        {
            $(".occurrence").each(function() {
                this.style.border = "none";
                this.style.width = "0px";
                this.style.marginTop = "2px";
                this.style.marginBottom = "2px";
            });
        }

        function putParticipantsOnTop()
        {
            $(".participant").each(function() {
                this.style.zIndex = "1";
            });
        }

        function main()
        {
            $("div.message").click(function(event) {
                var x = event.clientX;
                var y = event.clientY;

                var messageText = event.currentTarget.children[1].firstChild.data;
                var msgId =  parseInt(messageText);
                msgId--;
                var message = "<strong>" + messageText + "</strong><br><pre style=\"font-size: 8pt;\">" + messageContents[msgId] + "</pre>";


                var div_style = "position: absolute;";
                div_style += "top: " + y + "px;";
                div_style += "left: " + x + "px;";
                div_style += "border: 1px black solid;";
                div_style += "z-index: 100;";
                div_style += "background: rgba(255, 255, 255, 1);";
                div_style += "font-size: 9pt;";
                div_style += "font-family: Inconsolata;";
                div_style += "padding: 5px;";

                var handle = "<div class=\"handle\" style=\"width: 100%; height: 20px; position: relative; background: lightgray;\"></div><br>";

                var div = "<div class=\"dragthis\" id=\"msg_" + msgId + "\" style=\"" + div_style + "\"> " + handle + message + "</div>";
                $("body").append(div);
                $("div.dragthis").draggable({ handle: "div.handle"});

                $("div.handle").dblclick(function() {
                    $(this).parent().remove();
                });
            });


            clearOccurrences();
            putParticipantsOnTop();
        }

        setTimeout(main, 100);
        
    </script>

</body>

