<!doctype html>
<head>
    <meta charset='utf-8'/>
    <link rel="stylesheet" type="text/css" href="flowdraw.css" />
    <script src="jquery-2.0.0.min.js"></script>
    <script src="jquery-ui.min.js"></script>
    <script src="underscore-min.js"></script>
    <script src="raphael-min.js"></script>
    <script src="sequence-diagram-min.js"></script>
    <script src="flowdraw.js"></script>
</head>
<body>
    {{message_sequence}}

    <div id="diagram"></div>
    <script type="text/javascript">
        var messageContents = [{{message_contents}}];
    </script>


</body>

</html>
