<div id="msg_{{msg_id}}" class="popup" style="display: none;">
    <div class="handle"></div><br>
    <strong style="padding: 5px;">{{message_header}}</strong>
    <br>
    <div class="popup_callstack_button"><strong>Callstack</strong></div>
    <div class="popup_callstack">
<pre>{{message_callstack}}</pre>
    <br>
    </div>
    <div class="popup_content">
<pre>{{message_content}}</pre>
    </div>
</div>
