<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Flowdraw</title>
  <meta name="description" content="Flowdraw">
  <meta name="author" content="kele">

  <link rel="stylesheet" href="template.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="template.js"></script>

</head>

<body>


<canvas id="bgCanvas" style="height: 1px; width: 1px; border: none; margin: 0px; padding: 0px;"></canvas>

<p class="content">Here is something special!! ;]]</p>
  <div class="message">Hi awesome</div>
  <div class="message">Hi awesome</div>
  <div class="message">Hi awesome</div>
  <div class="message">Hi awesome</div>
</body>
</html>