body
{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: Monospace;
  font-size: 9pt;
}

table
{
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  border-collapse: collapse;
}

td
{
  
  padding: 5px;
  text-align: center;
  background-image: url('./bg.png');
  background-position: center;
  background-repeat: repeat-y;
  margin: 0px;
  border: 0px;
}

tr
{
  border: 0px;
  margin: 0px;
}

td.message
{
  background: none;
}

.message_canvas
{
  display: block;
  clear: both;
}