body
{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: Georgia;
  font-size: 8pt;
}

div
{
  display: inline-block;
}

table
{
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  border-collapse: collapse;
}

td
{
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background-image: url('./bg.png');
  background-position: center;
  background-repeat: repeat-y;
  margin: 0;
  border: 0;
}

tr
{
  border: 0;
  margin: 0;
}

td.message
{
  background: none;
}

.message_canvas
{
  display: block;
  clear: both;
}